{{#> base}}

{{#*inline "title"}}Projects{{/inline}}

{{#*inline "layout"}}
<div class="projects">
{{#each projects }}
  <div class="text project">
    <h3><a class="no_external" href="{{ url }}">{{ name }}</a></h3>
    {{{ description }}}
    <nav>
      <a href="{{ url }}">
        View source ({{join languages}})
      </a>
    </nav>
  </div>
{{/each}}
</div>
{{/inline}}

{{/base}}
