{{#partial title}}Projects{{/partial}}

{{#partial layout}}
<div class="projects">
{{#each projects }}
  <div class="text project">
    <h3><a href="{{ url }}">{{ name }}</a></h3>
    {{{ description }}}
    <nav>
      <a class="external" href="{{ url }}">
        View source ({{join languages}})
      </a>
    </nav>
  </div>
{{/each}}
</div>
{{/partial}}

{{> base}}
